@charset "utf-8";

#tab-bar.demo {
    display: flex;
    flex-direction: column;
}
#tab-bar .demoName {
    height: 40px;
}
#tab-bar .demo-preview-item .am-tab-bar {
    background-color: white;
}


/* CSS Document */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td{
margin:0;  padding:0;   list-style:none;
}
i{
	font-style:normal;}
body{ font:14px "PingFang SC","Lantinghei SC","Microsoft YaHei",arial,"\5b8b\4f53",sans-serif,tahoma;}
html {
	-ms-touch-action: none;
}
.clearfix{
    height: 0;
    visibility: hidden;
    clear: both;
}
a{ text-decoration: none; color: #ffffff; }

.am-list-body{background: transparent!important;margin-top: 10px;}


/* header start */
header{position: fixed; top: 0; z-index: 1299; height: 44px; 
	width: 100%; background: #fff; border-bottom:1px solid #fff; font-size: 16px; text-align: center; color: #333; line-height: 44px;}
.back{position: absolute;left: 10px; top: 1px; }
.back span{ font-size: 14px; color: #666;}
.process{ width: 100%; margin-top: 44px; height: 3rem; z-index: 100; padding: 20px; }
.process ul li{ font-size: 16px; border: 1px solid #94B5FF; border-radius: 6px; margin-bottom: 12px; padding: 12px 16px; }
.process ul li a{ color: #6A84FE; }
.deal{ width: 100%;z-index: 100;}
.deal div:first-of-type{ background: #fff; border-radius: 6px;} 
.deal div h1{ font-size: 16px; padding: 0; margin-bottom: 12px; color: #000000; font-weight: normal; }
.deal div p{ margin-top: 0px !important ; font-size: 12px; margin-bottom: 10px; }
.type{ border-radius: 2px; border: 1px solid #719DFF; color: #6B84FE; padding: 2px 4px; font-size: 13px; }
.deal div a{ color: #000000; }
.info{ color: #999999; font-size: 13px; float: left; margin-right: 26px; }
.info span , .date span{ margin-right: 4px; font-size: 13px; }
.date{ color: #999999; font-size: 13px; float: right; }
.deal div a div span{ color: #6B84FE; font-size: 10px; }
.dealt ul li{ float: left; width: 50%; }
.dealt ul li a{ color: #8187A0; display: block; font-size: 15px; }
.dealt ul li a.on{ color: #6B84FE; border-bottom: 2px solid #6B84FE; }
.search{ width: 100%; margin-top: 44px; margin-bottom: 58px; z-index: 100; padding: 15px 18px; }
.search ul li{ height: 185px; margin-bottom: 13px; border-radius: 7px; position: relative; overflow: hidden;
	 padding: 20px 15px 0px 15px; }
.img-process img{ width: 195px; position: absolute; }
.img-process{ width: 195px; position: absolute; top: 16px; right: 14px; z-index: 10; }
.faqi-process{ 
	background: #000000;
    background: -moz-linear-gradient(right bottom, #5671FE 0%, #81B6FF 100%);
    background: -webkit-gradient(linear, right bottom, left bottom, color-stop(0%,#5671FE), color-stop(100%,#81B6FF));
    background: -webkit-linear-gradient(right bottom,  #5671FE 0%,#81B6FF 100%);
    background: -o-linear-gradient(right bottom,  #5671FE 0%,#81B6FF 100%);
    background: -ms-linear-gradient(right bottom,  #5671FE 0%,#81B6FF 100%);
    background: linear-gradient(to right bottom,  #5671FE 0%,#81B6FF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5671FE', endColorstr='#81B6FF',GradientType=0 ); }
.deal-process{ 
	background: #000000;
    background: -moz-linear-gradient(right bottom,  #FF4D89 0%, #FFA0BD 100%);
    background: -webkit-gradient(linear, right bottom, left bottom, color-stop(0%,#FF4D89), color-stop(100%,#FFA0BD));
    background: -webkit-linear-gradient(right bottom,  #FF4D89 0%,#FFA0BD 100%);
    background: -o-linear-gradient(right bottom,  #FF4D89 0%,#FFA0BD 100%);
    background: -ms-linear-gradient(right bottom,  #FF4D89 0%,#FFA0BD 100%);
    background: linear-gradient(to right bottom,  #FF4D89 0%,#FFA0BD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF4D89', endColorstr='#FFA0BD',GradientType=0 ); }
.finish-process{ 
	background: #000000;
    background: -moz-linear-gradient(right bottom,  #00BF7B 0%, #7CEBAE 100%);
    background: -webkit-gradient(linear, left right bottom, left bottom, color-stop(0%,#00BF7B), color-stop(100%,#7CEBAE));
    background: -webkit-linear-gradient(right bottom,  #00BF7B 0%,#7CEBAE 100%);
    background: -o-linear-gradient(right bottom,  #00BF7B 0%,#7CEBAE 100%);
    background: -ms-linear-gradient(right bottom,  #00BF7B 0%,#7CEBAE 100%);
    background: linear-gradient(to right bottom,  #00BF7B 0%,#7CEBAE 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00BF7B', endColorstr='#7CEBAE',GradientType=0 ); }
.faqi-process p{ color: #ABB8FF; font-size: 12px; }
.faqi-process h2{ color: #fff; font-size: 22px; margin-top: 18px; font-weight: normal; letter-spacing: 1px }
.deal-process p{ color: #FFA8C5; font-size: 12px; }
.deal-process h2{ color: #fff; font-size: 22px; margin-top: 18px; font-weight: normal; letter-spacing: 1px }
.finish-process p{ color: #80DFBD; font-size: 12px; }
.finish-process h2{ color: #fff; font-size: 22px; margin-top: 18px; font-weight: normal; letter-spacing: 1px }

/*footer start*/
.footer{ font-size: 14px; position: fixed; bottom: 0; left: 0; right: 0; background: #fff; border-top: 1px solid #E5E7EF; 
		height: 58px; padding-top: 8px; z-index: 100;  }
.footer a{ position: relative; width: 25%; text-align: center; color: #D8DBEA; display: inline-block; float: left; }
.footer a.on{ color: #6A84FE; }
.footer a span{ display: block; font-size: 22px; height: 26px; line-height: 26px; }
.footer a p{ display: block; font-size: 10px; padding-top: 1px;  }




